@import 'tailwindcss';

@theme {
  /* Cores base */
  --color-background: hsl(207, 45%, 94%);
  --color-surface: hsl(0, 0%, 96%);
  --color-primary: hsl(204, 60%, 5%);
  --color-secondary-overlay: hsla(302, 74%, 45%, 0.26);
  --color-accent: hsl(33, 100%, 49%);

  /* Cores financeiras */
  --color-inflow: hsl(120, 100%, 66%);
  --color-expense: hsl(0, 70%, 75%);
  --color-text-primary: hsl(0, 0%, 13%);

  /* Sombras */
  --shadow-light: 10px 10px 10px hsla(0, 0%, 100%, 0.7);
  --shadow-dark: 10px 10px 0 hsla(0, 0%, 0%, 1);


  --color-great: hsl(140, 80%, 90%);
  --color-great-hover: hsl(140, 80%, 70%);
  --color-warning: hsl(35, 100%, 90%);
  --color-warning-hover: hsl(35, 100%, 70%);
  --color-bad: hsl(0, 80%, 90%);
  --color-bad-hover: hsl(0, 80%, 70%);
  --color-critical: hsl(0, 60%, 70%);
  --color-critical-hover: hsl(0, 60%, 50%);

  /* Tipografia contrastante */
  --color-on-great: hsl(140, 80%, 20%);
  --color-on-warning: hsl(35, 100%, 25%);
  --color-on-bad: hsl(0, 80%, 25%);
  --color-on-critical: hsl(0, 60%, 15%);

  /* Tipografia */
  --text-xs: clamp(0.7rem, 0.68rem + 0.2vw, 0.75rem);
  --text-sm: clamp(0.8rem, 0.75rem + 0.3vw, 0.875rem);
  --text-md: clamp(0.95rem, 0.9rem + 0.35vw, 1rem);
  --text-lg: clamp(1.1rem, 1rem + 0.4vw, 1.25rem);
  --text-xl: clamp(1.7rem, 1.6rem + 0.7vw, 2.1rem);
  --text-hero: clamp(2.5rem, 2.5rem + 1.5vw, 3rem);

  /* Espaçamento e borda */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
}